<div class="current_room">
  <%# 模範解答では左右それぞれに箱を作り入れ子にしている %>
  <div class="title">
    <p>hogefuga<p>
  </div>
  <div class="exit_btn">
    <a link="#">チャットを終了する</a>
  </div>
</div>
<div class="chat_content">
  <div class="comment_box">
    <div class="high_line">
      <div class="username">TOM</div>
      <div class="timestamp">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class=low_line>
      <div class="comment">おはよう</div>
    </div>
  </div>
  <div class="comment_box">
    <div class="high_line">
      <div class="username">Sim</div>
      <div class="timestamp">2020/3/31(Wed) 17:43:30</div>
    </div>
    <div class=low_line>
      <div class="comment">こんばんは</div>
    </div>
  </div>
</div>
<div class="form">
  <div class="form_input">
    <input class="form_message" placeholder="type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>